USE [master]
GO
/****** Object:  Database [MSGCore]    Script Date: 04.05.2020 19:01:57 ******/
CREATE DATABASE [MSGCore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MSGCore', FILENAME = N'D:\MSS2017EE\MSSQL14.SQLEXPRESS\MSSQL\DATA\MSGCore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MSGCore_log', FILENAME = N'D:\MSS2017EE\MSSQL14.SQLEXPRESS\MSSQL\DATA\MSGCore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MSGCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MSGCore]
GO
/****** Object:  User [MSGCore]    Script Date: 04.05.2020 19:01:57 ******/
CREATE USER [MSGCore] FOR LOGIN [MSGCore] WITH DEFAULT_SCHEMA=[MSGCore]
GO
ALTER ROLE [db_owner] ADD MEMBER [MSGCore]
GO
/****** Object:  Schema [MSGCore]    Script Date: 04.05.2020 19:01:57 ******/
CREATE SCHEMA [MSGCore]
GO
/****** Object:  Table [dbo].[answer]    Script Date: 04.05.2020 19:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answer](
	[answerId] [int] IDENTITY(1,1) NOT NULL,
	[answerText] [nvarchar](max) NOT NULL,
	[questionId] [int] NOT NULL,
 CONSTRAINT [PK_answer] PRIMARY KEY CLUSTERED 
(
	[answerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[article]    Script Date: 04.05.2020 19:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[articleId] [int] IDENTITY(1,1) NOT NULL,
	[articleName] [nvarchar](max) NOT NULL,
	[articleText] [nvarchar](max) NOT NULL,
	[sectionId] [int] NOT NULL,
 CONSTRAINT [PK_article] PRIMARY KEY CLUSTERED 
(
	[articleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[correctAnswer]    Script Date: 04.05.2020 19:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[correctAnswer](
	[correctAnswerId] [int] IDENTITY(1,1) NOT NULL,
	[answerId] [int] NOT NULL,
	[questionId] [int] NOT NULL,
 CONSTRAINT [PK_correctAnswer] PRIMARY KEY CLUSTERED 
(
	[correctAnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[photo]    Script Date: 04.05.2020 19:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[photo](
	[articlePhotoId] [int] IDENTITY(1,1) NOT NULL,
	[articlePhoto] [varbinary](max) NOT NULL,
	[articleId] [int] NOT NULL,
 CONSTRAINT [PK_photo] PRIMARY KEY CLUSTERED 
(
	[articlePhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question]    Script Date: 04.05.2020 19:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question](
	[questionId] [int] IDENTITY(1,1) NOT NULL,
	[questionText] [nvarchar](max) NOT NULL,
	[testId] [int] NOT NULL,
 CONSTRAINT [PK_question] PRIMARY KEY CLUSTERED 
(
	[questionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[result]    Script Date: 04.05.2020 19:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[result](
	[resultId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[testId] [int] NOT NULL,
 CONSTRAINT [PK_result] PRIMARY KEY CLUSTERED 
(
	[resultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[section]    Script Date: 04.05.2020 19:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[section](
	[sectionId] [int] IDENTITY(1,1) NOT NULL,
	[sectionName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_section] PRIMARY KEY CLUSTERED 
(
	[sectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 04.05.2020 19:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[testId] [int] IDENTITY(1,1) NOT NULL,
	[testName] [nvarchar](max) NOT NULL,
	[articleId] [int] NOT NULL,
 CONSTRAINT [PK_test] PRIMARY KEY CLUSTERED 
(
	[testId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 04.05.2020 19:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](100) NOT NULL,
	[surname] [nvarchar](100) NOT NULL,
	[login] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[role] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[answer]  WITH CHECK ADD  CONSTRAINT [FK_answer_question] FOREIGN KEY([questionId])
REFERENCES [dbo].[question] ([questionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[answer] CHECK CONSTRAINT [FK_answer_question]
GO
ALTER TABLE [dbo].[article]  WITH CHECK ADD  CONSTRAINT [FK_article_section] FOREIGN KEY([sectionId])
REFERENCES [dbo].[section] ([sectionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[article] CHECK CONSTRAINT [FK_article_section]
GO
ALTER TABLE [dbo].[correctAnswer]  WITH CHECK ADD  CONSTRAINT [FK_correctAnswer_answer] FOREIGN KEY([answerId])
REFERENCES [dbo].[answer] ([answerId])
GO
ALTER TABLE [dbo].[correctAnswer] CHECK CONSTRAINT [FK_correctAnswer_answer]
GO
ALTER TABLE [dbo].[correctAnswer]  WITH CHECK ADD  CONSTRAINT [FK_correctAnswer_question] FOREIGN KEY([questionId])
REFERENCES [dbo].[question] ([questionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[correctAnswer] CHECK CONSTRAINT [FK_correctAnswer_question]
GO
ALTER TABLE [dbo].[photo]  WITH CHECK ADD  CONSTRAINT [FK_photo_article] FOREIGN KEY([articleId])
REFERENCES [dbo].[article] ([articleId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[photo] CHECK CONSTRAINT [FK_photo_article]
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD  CONSTRAINT [FK_question_test] FOREIGN KEY([testId])
REFERENCES [dbo].[test] ([testId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[question] CHECK CONSTRAINT [FK_question_test]
GO
ALTER TABLE [dbo].[result]  WITH CHECK ADD  CONSTRAINT [FK_result_test] FOREIGN KEY([testId])
REFERENCES [dbo].[test] ([testId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[result] CHECK CONSTRAINT [FK_result_test]
GO
ALTER TABLE [dbo].[result]  WITH CHECK ADD  CONSTRAINT [FK_result_users] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([userId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[result] CHECK CONSTRAINT [FK_result_users]
GO
ALTER TABLE [dbo].[test]  WITH CHECK ADD  CONSTRAINT [FK_test_article] FOREIGN KEY([articleId])
REFERENCES [dbo].[article] ([articleId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[test] CHECK CONSTRAINT [FK_test_article]
GO
USE [master]
GO
